<div class="container-about">

    <div class="title-text">
        <h3>Amelia Woods</h3>
        <p>I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.</p>
    </div>

    <div class="info-icons">

        <div class="info-icons__items">
            <img src="../../img/icon-projects.png" alt="projects">
            <div>
                <p>548</p>
                <p>projects completed</p>
            </div>
        </div>

        <div class="info-icons__items">
            <img src="../../img/icon-time.png" alt="time">
            <div>
                <p>1465</p>
                <p>working hours</p>
            </div>
        </div>

        <div class="info-icons__items">
            <img src="../../img/icon-feed.png" alt="feedbacks">
            <div>
                <p>612</p>
                <p>positive feedbacks</p>
            </div>
        </div>

        <div class="info-icons__items">
            <img src="../../img/icon-likes.png" alt="likes">
            <div>
                <p>735</p>
                <p>happy clients</p>
            </div>
        </div>

    </div>

    <div class="info-about">

        <img src="" alt="photo">

        <div class="info-about__text">
            <h4>About me</h4>
            <p>Given let waters air sea had you'll, may seed abundantly fish. Were, you'll earth forth winged above brought. Own darkness they're him can't fourth sea place have.</p>
            <p>So the above May stars cattle fruitful face shall. Tree it, winged. Every signs male firmament us. Morning him.</p>
            <img src="../../img/signature.png" alt="signature">
        </div>

    </div>

    <div class="info-contact">
        <h4>Need a Project?</h4>
        <p>Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.</p>
        <button>Let's talk</button>
    </div>
</div>
<a [routerLink]="['/about']"></a>
