<div class="container-contact">

    <!--Info-->
    <div class="info-contact">
        <h3>Contact Info:</h3>
        <p>To give give beginning divide, cattle. Give moving won't, there the abundantly she'd she'd brought air upon. Light hath subdue. Life days creature upon first heaven gathering dry.</p>

        <div>
            <p>Address:</p>
            <p>10111 Santa Monica Boulevard, LA</p>
        </div>

        <div>
            <p>Phone:</p>
            <p>+44 987 065 908</p>
        </div>

        <div>
            <p>Email:</p>
            <p>info@Example.com</p>
        </div>

        <div>
            <p>Fax:</p>
            <p>+44 987 065 909</p>
        </div>
    </div>
    
    <!--Inputs-->
    <div class="info-inputs">
        <div class="row">
            <input class="col col-4" type="text" placeholder="Your Name">
            <input class="col col-4" type="text" placeholder="Your Email">
            <input class="col col-12" type="text" placeholder="Your Title">
            <input class="col col-12" type="text" placeholder="Your Comment">
        </div>
        <button>send message</button>
    </div>

    <!--Map-->
    <div class="info-map">
        <ya-map ya-zoom="10" ya-center="[37.64,55.76]">
            <ya-geo-object ya-source="geoObject"></ya-geo-object>
        </ya-map>
    </div>

</div>

<a [routerLink]="['/contact']"></a>
<script src="https://api-maps.yandex.ru/2.1/?apikey=e2a011c0-df2b-40b7-964f-f20cd9e9294f&lang=ru_RU"
    type="text/javascript">
</script>
<script src="angular-ymaps.js"></script>