<div class="container-home">
    <div class="title-text">
        <h3>UX/UI & Graphic Designer</h3>
        <p>I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.</p>
    </div>

    <div class="cards-grid">
        <div class="col col-g"></div>
        <div class="col"></div>
        <div class="col col-g"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col col-act"></div>
        <div class="col"></div>
        <div class="col col-g"></div>
        <div class="col col-g"></div>
        <div class="col"></div>
        <div class="col col-g"></div>
        <div class="col"></div>
    </div>

</div>

<a [routerLink]="['/']"></a>
