.title-text{
    height: 314px;
    background-color: #f6f6f6;
    text-align: center;

    h3{
        font-weight: bold;
    }

    p{
        max-width: 514px;
        margin: auto;
    }
}

.cards-grid{
    display: grid;
    grid-template-columns: 337px 337px 337px 337px;


    .col{
        width: 337px;
        height: 300px;
        padding: 0;
    }

    .col-g{
        background-color: rgb(131, 131, 131);
    }

    .col-act{
        background-color: #21bfb9;
    }
}  